@media (min-width: 992px) {

  html {
    color: #030303;
    font: caption;
    padding-bottom: 3em;
    padding-right: 4em;
    padding-left: 4em;
    padding-top: 2em;
  }
  .search {
   
    justify-content: center;

  }

.google-places-autocomplete {
  width: 100%;
  position: relative;
}

.location-search-input {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  margin-bottom: 2px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.09);
  justify-content: center;
}

.google-places-autocomplete__input:active,
.google-places-autocomplete__input:focus,
.google-places-autocomplete__input:hover {
  outline: none;
  border: none;
}

.google-places-autocomplete__suggestions-container {
  background: white;
  border-radius: 0 0 5px 5px;
  color: black;
  position: absolute;
  width: 100%;
  z-index: 2;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.09);
}

.google-places-autocomplete__suggestion {
  font-size: 1rem;
  text-align: left;
  padding: 10px;
}

.google-places-autocomplete__suggestion--active {
  background: #e0e3e7;
}

.Header {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 15px;


}

.content {
  font-size: 40px;
  padding-top: 25px;
  padding-right: 50px;
  font-weight: medium;
  padding-left: 50px;
  color: 	#40E0D0;
  font-family: Avenir;
  grid-column: span 10;
  padding-left: 50px;
}

.content1 {
  margin-top: 15px;
    color: #9b9b9b !important;
    margin-bottom: 0px;
    font-family: Avenir;
    font-size: 25px;
    padding-left:50px;
    padding-right:25px;
}
.imgicon{
  padding-left: 50px;
  padding-top: 10px;
  padding-right:50px;
}

.cardDisplay {
  padding-left: 50px;
  padding-top: 10px;
  padding-right:50px;
}

}


